<footer>
  <div class="footer_container">
    <img class="footer_logo" src="../img/logo.png" alt="logo" width="56px" />
    <h3 class="footer_game_title">Cookie Crunch Classic</h3>
    <div class="footer_line"></div>

    <div class="footer_content_container">
      <a href="#" class="footer_content_text privacy">Privacy policy</a>
      <a href="#" class="footer_content_text terms">Terms and Conditions</a>
      <a href="#" class="footer_content_text rights">
        All rights reserved winstartoday.com | 2024
      </a>
    </div>

    <div class="elipse_1"></div>
    <div class="elipse_2"></div>
    <div class="saphire_1"></div>
    <div class="saphire_2"></div>
    <div class="saphire_3"></div>
  </div>
</footer>
