<header class="header">
  <div class="header_container">
    <div class="header_content">
      <img
        class="header_image"
        src="../img/logo.png"
        alt="headerIMg"
        width="62"
        height="62"
      />
      <h2 class="header_game_title">Cookie Crunch Classic</h2>
    </div>
    <div class="nav_container">
      <nav>
        <ul class="nav_list">
          <li><a class="active" href="/cookie-crunch-classic">Home</a></li>
          <li><a href="#">Benefits</a></li>
          <li><a href="#">About</a></li>
          <li><a href="#">FAQ</a></li>
          <li><a href="#">How to play</a></li>
          <li><a href="#">Advantages</a></li>
          <li><a href="#">Gallery</a></li>
        </ul>
      </nav>
    </div>
    <nav>
      <ul class="menu">
        <li><a class="menuItem" href="#">Home</a></li>
        <li><a class="menuItem" href="#">Benefits</a></li>
        <li><a class="menuItem" href="#">About</a></li>
        <li><a class="menuItem" href="#">FAQ</a></li>
        <li><a class="menuItem" href="#">How to play</a></li>
        <li><a class="menuItem" href="#">Advantages</a></li>
        <li><a class="menuItem" href="#">Gallery</a></li>
      </ul>
    </nav>

    <button class="hamburger" onclick="toggleMenu()">
      <svg class="menuIcon">
        <use href="../img/svg/symbol-defs.svg#icon-burger"></use>
      </svg>
      <svg class="closeIcon hidden">
        <use href="../img/svg/symbol-defs.svg#icon-cross"></use>
      </svg>
     
    </button>
    <div class="overlay hidden"></div>
    <div></div>

    <!-- <script type="module" src="../JS/burger.js"></script> -->
  </div>
</header>
