<section id="hero" class="hero_section">
  <div class="container hero_container">
    <h1 class="hero_title">
      Cookie
      <span class="hero_title_yellow">Crunch</span>
      Classic
    </h1>
    <a
      href="https://play.google.com/store/search?q=cookie+crunch+classic&c=apps&hl=pl"
      target="_blank"
      ><button type="button" class="google_light">
        <img src="../img/hero/logos_google-play-icon.jpg" alt="" />
        <div class="google_btn_text">
          <p class="google_btn_text_small">Get it on</p>
          <h3 class="google_btn_text_large">Google Play</h3>
        </div>
      </button></a
    >
    <h2 class="hero_disclaimer">Disclaimer</h2>
    <p class="hero_disclaimer_text">
      WINSTARTODAY.COM IS A PLATFORM FOR HAVING FUN. THE PROBABILITY OF WINNING
      PLAYING THIS GAME CANNOT BE CONSIDERED THE SAME AS WINNING IN REAL LIFE
      GAMES. GAME IS AVAILABLE TO ADULT AUDIENCES OVER 18 YEARS OF AGE. ENJOY
      PLAYING THIS GAME!
    </p>
  </div>
</section>
