<section id="how-to-play">
  <div class="container">
    <h2 class="how-to-play__title">How to Play</h2>

    <ul class="how-to-play__list">
      <li class="how-to-play__list-item">
        <h3>Match Cookies:</h3>

        <div>
          <img
            srcset="
              ./img/how-to-play/desktop/cookies.png    185w,
              ./img/how-to-play/desktop/cookies@2x.png 369w,
              ./img/how-to-play/mobile/cookies.png     104w,
              ./img/how-to-play/mobile/cookies@2x.png  206w
            "
            sizes="(min-width: 1440px) 184px, (min-width: 320px) 102px"
            src="./img/how-to-play/mobile/cookies.png"
            alt="Cookies"
            loading="lazy"
          />

          <p>
            Line up three or more identical cookies to clear them from the
            board.
          </p>
        </div>
      </li>

      <li class="how-to-play__list-item">
        <h3>Use Power-ups:</h3>

        <div>
          <img
            srcset="
              ./img/how-to-play/desktop/piggy-bank.png    150w,
              ./img/how-to-play/desktop/piggy-bank@2x.png 300w,
              ./img/how-to-play/mobile/piggy-bank.png     113w,
              ./img/how-to-play/mobile/piggy-bank@2x.png  225w
            "
            sizes="(min-width: 1440px) 150px, (min-width: 320px) 113px"
            src="./img/how-to-play/mobile/piggy-bank.png"
            alt="Piggy bank"
            loading="lazy"
          />

          <p>
            Earn and strategically use power-ups to clear difficult obstacles.
          </p>
        </div>
      </li>

      <li class="how-to-play__list-item">
        <h3>Achieve Objectives:</h3>

        <div>
          <img
            srcset="
              ./img/how-to-play/desktop/levels.png    233w,
              ./img/how-to-play/desktop/levels@2x.png 465w,
              ./img/how-to-play/mobile/levels.png     166w,
              ./img/how-to-play/mobile/levels@2x.png  332w
            "
            sizes="(min-width: 1440px) 232px, (min-width: 320px) 166px"
            src="./img/how-to-play/mobile/levels.png"
            alt="Levels"
            loading="lazy"
          />

          <p>Complete the level’s specific objectives to progress.</p>
        </div>
      </li>

      <li class="how-to-play__list-item">
        <h3>Collect Stars:</h3>

        <div>
          <img
            srcset="
              ./img/how-to-play/desktop/stars.png    146w,
              ./img/how-to-play/desktop/stars@2x.png 291w,
              ./img/how-to-play/mobile/stars.png     116w,
              ./img/how-to-play/mobile/stars@2x.png  232w
            "
            sizes="(min-width: 1440px) 145px, (min-width: 320px) 116px"
            src="./img/how-to-play/mobile/stars.png"
            alt="Stars"
            loading="lazy"
          />

          <p>Earn stars based on your performance to unlock new levels.</p>
        </div>
      </li>
    </ul>
  </div>
</section>
