.header {
  position: absolute;
  width: 100%;
  max-width: 9999px;
}
.header_container {
  width: 100%;
  padding: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  @include media(desktop) {
    padding: 12px 72px;
  }
}
.header_content {
  width: 223px;
  display: flex;
  gap: 16px;
}
.nav_list {
  display: none;
  gap: 30px;
  color: rgb(255, 255, 255);
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0%;
  @include media(desktop) {
    display: flex;
  }
}
.nav_list li {
  :hover {
    color: #e9c001;
  }
  // :focus {
  //   color: #e9c001;
  // }
}
a {
  &.active {
    position: relative;

    &::after {
      content: '';
      position: absolute;
      left: 0;
      bottom: -2px;
      width: 100%;
      height: 2px;
      background-color: #e9c001;
    }
  }
}
.nav_container {
  margin-left: auto;
}

.header_image {
  border-radius: 4px;
}
.header_game_title {
  font-family: DM Serif Display;
  font-size: 20px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0%;
  text-align: left;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(10px);
  z-index: 98;
  display: none;
}
.overlay.show {
  display: block;
}

// burger menu

.hamburger {
  position: fixed;
  z-index: 100;
  top: 27px;
  right: 16px;
  padding: 4px;
  border: none;
  background: none;
  cursor: pointer;
  outline: none;
  color: white;
  :focus {
    color: #e9c001;
  }
  @include media(desktop) {
    display: none;
  }
}

.hamburger svg {
  fill: white;
}
.closeIcon {
  width: 38px;
  height: 38px;
}
.menuIcon {
  width: 47px;
  height: 47px;
}

.menu {
  position: fixed;
  transform: translateY(-100%);
  transition: transform 0.2s;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 99;
  list-style: none;
  color: white;
  font-size: 18px;
  font-weight: 400;
  line-height: 23px;
  text-align: center;
  margin-top: 75px;
  @include media(desktop) {
    display: none;
  }
}

.menu li {
  padding-top: 8px;
  padding-bottom: 8px;
  margin-bottom: 24px;
  &:hover {
    color: #e9c001;
  }
}
.menuIcon.hidden {
  display: none;
}

.closeIcon.hidden {
  display: none;
}
.showMenu {
  transform: translateY(0);
}
// end of burger menu
