.terms_wrapper {
  padding-top: 166px;
  padding-left: 370px;
  padding-right: 370px;
  padding-bottom: 112px;
}
.terms_section {
    padding: 0;

}

.terms_title {
  color: rgb(221, 52, 136);
  font-family: DM Serif Display;
  font-size: 32px;
  font-weight: 400;
  line-height: 44px;
}
.terms_text {
  color: rgb(255, 255, 255);
  font-family: DM Sans;
  font-size: 20px;
  font-weight: 400;
  line-height: 26px;
  margin-bottom: 48px;
}
.terms_large_text {
    text-transform: uppercase;
}
